# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Project1/Project1.vcxproj.user
.idea/codereview.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Project1/Project1.sln
Project1/Project1.vcxproj
Project1/Project1.vcxproj.filters
Project1/.vs/Project1/v15/.suo
Project1/.vs/Project1/v15/Browse.VC.db
Project1/.vs/Project1/v15/Browse.VC.opendb
Project1/.vs/Project1/v15/ipch/AutoPCH/e2878b7b1db4294/MAIN.ipch
Project1/.vs/Project1/v15/ipch/AutoPCH/f655b087766f4f43/PRIORITY_QUEUE.ipch
Project1/Debug/Project1.log
Project1/Debug/Project1.vcxprojAssemblyReference.cache
